*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media print {
  .MuiDrawer-root, nav, button, .no-print { display: none !important; }
  .print-table { display: table !important; }
  body { background: white; }
}
